body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    
    
}

.orange-color{
    color:orange;
    font-weight: 800;
}
.half-width{
    width:50%;
}
a{
    text-decoration: none;
}
                /* top menu starts here */
#top-menu{
    display: flex;
    
    background-color: rgba(0, 0, 0, 0.787);
    padding:14px 0;
    
   
    
}

#top-menu a{
    color:rgb(142, 247, 247);
    font-weight:800;
    font-size:20px;
    margin:5px 38px;
    text-decoration: none;
   
}
        /* covid-warning start */
.covid-warning{
    padding:15px 0;
    background-image: linear-gradient(rgba(230, 92, 28, 0.904),rgba(0,0,0,0.5));
}
 .covid-warning p{
     text-align: center;
     font-size:20px;
 }       

             /* portfolio-area start here */

#portfolio-area{
    display: flex;
   margin:50px 40px 0px 40px;
}
.portfolio-image img{
    width:100%;
    height:69%;
    margin:0px 20px;
    color:gray;
    font-weight: 200;
    
}
.fb-link{
    background-image: linear-gradient(rgba(139, 104, 38, 0.52),orange);
    padding:10px 25px;
    color:white;
    font-weight: 600;
    border: 1px solid orange;
    border-radius:30px 30px 30px 30px;

}
.portfolio-blog p{
    margin: 45px 0;
    font-size:18px;
}

/* about us start here */

#about-us{
    display: flex;
    background-image: url(images/about-bg.png);
   padding: 50px 20px;
   margin-top: -130px;
   margin-bottom: 50px;
    
    
}
.about-us-img img{
    
    width:50%;
    height:120%;
    margin-left: 250px;
}
.about-us-blog h2{
    
    font-weight: 600;
    color:gray;
}
.about-us-blog p{
    font-size:14px;
    margin:40px 0;
    font-weight: 400;
    color: rgb(126, 102, 102);
}

/* our items start here */
.our-items-top{
    text-align: center;
}
.our-items-top h1{
    font-size: 35px;
    font-weight:800;
}
.our-items-top p{
    font-size: 19px;
    font-weight: 200;
    color:gray;
    line-height: 30px;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

.items-area{
    display: flex;
    
}
.items-part{
    width:30%;
    margin:0 3%;
    border:1px solid rgba(0,0,0,0.5);
    box-shadow: -3px -3px 20px rgba(0,0,0,0.5);
    border-radius: 10px;
}
.items-part .item-img{
    text-align: center;
    
   
}
.items-part .item-img img{
    width:90%;
   
    border-radius:10px;
    
    
    padding:10px 10px;
    margin-top: 10px;
}
.item-blog{
    text-align: left;
    margin-left: 10px;
}
.item-blog h1{
    font-weight: 800;
    font-size: 30px;
}
.item-blog p{
    color:gray;
    font-weight: 200;
    margin-bottom: 10px;
}
/* amazing start here */
#amazing-view{
   
    display: flex;
    margin-top:20px;
    background-image: url(images/my-work.png);
    background-repeat: no-repeat;
    position: left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    width:80%;
    margin-left: 10%;
    margin-bottom:3%;
    margin-top: 3%;
    border-left:6px solid blue;
    border-image: linear-gradient(rgb(145, 255, 0),rgb(92, 92, 167));
    border-image-slice: 1;
    
}
.amazing-blog{
    width: 50%;
    margin:0 40px;

}
.amazing-blog h1{
    font-weight: 800;
    font-size: 45px;
    color:gray;
}
.amazing-blog p{
    font-weight: 200;
    font-size: 15px;
    color:black;
}
.amazing-img{
    width:30%;
    margin:0 30px;
    
}
.amazing-img img{
    width:100%;
}
/* contact us start here */
#contact-us{
    background-image: url(images/contact-bg.jpg);
    
    
    
}
.contact-area{
    margin-left: 40px;
}


.contact-part{
    display: flex;
}
.contact-part h3{
    color:yellowgreen
    
}
.contact-part h4{
    color:rgb(194, 92, 92)
    
}



/* footer starts here */

footer{
    text-align: center;
    padding:8px 0;
    
    background-color: black;
}
footer h1{
    color:gray;
}
.salmon-color{
    color:salmon;
}
footer p{
    color:white;
    font-size: 14px;
}
footer strong{
    color:rgb(168, 127, 127);
    font-size: 10px;
}